

@{
    ViewBag.Title = "Incluir Autor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <script src="~/App/Autor/AutorController.js"></script>
<h2>Autor</h2>

     <div id="add" tabindex="-1" role="dialog" aria-labelledby="add-modal-label">

         <div class="modal-dialog" role="document">
             <div class="modal-content">
                 <form class="form-horizontal" id="add-form">
                     <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                         <h4 class="modal-title" id="add-modal-label">Criar Autor</h4>
                     </div>
                     <div class="modal-body">
                         <div class="form-group">
                             <label for="add-firstname" class="col-sm-2 control-label">Firstname</label>
                             <div class="col-sm-10">
                                 <input type="text" class="form-control" id="add-firstname" name="firstname" placeholder="Nome" ng-model="Nome" required>
                             </div>
                         </div>
                     </div>
                     <div class="modal-footer">
                         <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="Close()">Fechar</button>
                         <button type="submit" class="btn btn-primary" ng-click="Add()">Salvar</button>
                     </div>
                 </form>
             </div>
         </div>
     </div>
 
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
