<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div ng-controller="DemoBasicCtrl as ctrl" ng-cloak>
        <md-toolbar class="md-menu-toolbar">
            <div layout="row">
                <md-toolbar-filler>
                    <md-icon md-svg-icon="content-paste"></md-icon>
                </md-toolbar-filler>
                <div>
                    <h2 class="md-toolbar-tools">Untitled document</h2>
                    <md-menu-bar>
                        <md-menu>
                            <button ng-click="$mdMenu.open()">
                                Cadastros
                            </button>
                            <md-menu-content>
                                <md-menu-item>
                                    <md-button ng-click="ctrl.sampleAction('share', $event)">
                                        Share...
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item>
                                    <md-menu>
                                        <md-button ng-click="$mdMenu.open()">New</md-button>
                                        <md-menu-content>
                                            <md-menu-item><md-button ng-click="ctrl.sampleAction('New Document', $event)">Document</md-button></md-menu-item>
                                            <md-menu-item><md-button ng-click="ctrl.sampleAction('New Spreadsheet', $event)">Spreadsheet</md-button></md-menu-item>
                                            <md-menu-item><md-button ng-click="ctrl.sampleAction('New Presentation', $event)">Presentation</md-button></md-menu-item>
                                            <md-menu-item><md-button ng-click="ctrl.sampleAction('New Form', $event)">Form</md-button></md-menu-item>
                                            <md-menu-item><md-button ng-click="ctrl.sampleAction('New Drawing', $event)">Drawing</md-button></md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="ctrl.sampleAction('Open', $event)">
                                        Open...
                                        <span class="md-alt-text"> {{ 'M-O' | keyboardShortcut }}</span>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button disabled="disabled" ng-click="ctrl.sampleAction('Rename', $event)">
                                        Rename
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item>
                                    <md-button ng-click="ctrl.sampleAction('Print', $event)">
                                        Print
                                        <span class="md-alt-text">{{ 'M-P' | keyboardShortcut }}</span>
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                        <md-menu>
                            <button ng-click="$mdMenu.open()">
                                Relatórios
                            </button>
                            <md-menu-content>
                                <md-menu-item class="md-indent">
                                    <md-icon md-svg-icon="undo"></md-icon>
                                    <md-button ng-click="ctrl.sampleAction('undo', $event)">
                                        Undo
                                        <span class="md-alt-text">{{ 'M-Z' | keyboardShortcut }}</span>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item class="md-indent">
                                    <md-icon md-svg-icon="redo"></md-icon>
                                    <md-button ng-click="ctrl.sampleAction('redo', $event)">
                                        Redo
                                        <span class="md-alt-text">{{ 'M-Y' | keyboardShortcut }}</span>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item class="md-indent">
                                    <md-icon md-svg-icon="content-cut"></md-icon>
                                    <md-button ng-click="ctrl.sampleAction('cut', $event)">
                                        Cut
                                        <span class="md-alt-text">{{ 'M-X' | keyboardShortcut }}</span>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item class="md-indent">
                                    <md-icon md-svg-icon="content-copy"></md-icon>
                                    <md-button ng-click="ctrl.sampleAction('copy', $event)">
                                        Copy
                                        <span class="md-alt-text">{{ 'M-C' | keyboardShortcut }}</span>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item class="md-indent">
                                    <md-icon md-svg-icon="content-paste"></md-icon>
                                    <md-button ng-click="ctrl.sampleAction('paste', $event)">
                                        Paste
                                        <span class="md-alt-text">{{ 'M-P' | keyboardShortcut }}</span>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item class="md-indent">
                                    <md-button ng-click="ctrl.sampleAction('Find and replace', $event)">
                                        Find and replace...
                                        <span class="md-alt-text">{{ 'M-S-H' | keyboardShortcut }}</span>
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>

                    </md-menu-bar>
                </div>
            </div>
        </md-toolbar>


    </div>
    Untitled document

</body>
</html>