<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="Scripts/jquery-3.5.1.slim.min.js"></script>
    <script src="Scripts/bootstrap.bundle.min.js"></script>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-animate.js"></script>
    <script src="Scripts/angular-aria.js"></script>
    <script src="Scripts/angular-route.js"></script>
    <script src="Scripts/angular-material.js"></script>
    <script src="Controllers/Menu.js"></script>
    <link href="Css/MenuLivraria.css" rel="stylesheet" />
    <link href="Content/angular-material.layouts.css" rel="stylesheet" />
    <link href="Content/angular-material.css" rel="stylesheet" />
    <link href="Content/bootstrap.min.css" rel="stylesheet" />>
</head>
<body ng-app="MenuApp">
    <div ng-controller="MenuLivrariaCTRL as ctrl" ng-cloak>
        <md-toolbar class="md-menu-toolbar">
            <div layout="row">

                <div>
                    <h2 class="md-toolbar-tools">Menu de App Livros</h2>
                    <md-menu-bar>
                        <md-menu>
                            <button ng-click="$mdMenu.open()">
                                Cadastros
                            </button>
                            <md-menu-content>
                                <md-menu-item>
                                    <md-button ng-click="ctrl.sampleAction('share', $event)">
                                        Assuntos...
                                    </md-button>
                                    <md-menu-item>
                                        <md-button ng-click="ctrl.sampleAction('share', $event)">
                                            Autores...
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-item>                               <md-menu-item>
                                    <md-button ng-click="ctrl.sampleAction('share', $event)">
                                        Livros...
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>

                                <md-menu-divider></md-menu-divider>



                            </md-menu-content>
                        </md-menu>
                        <md-menu>
                            <button ng-click="$mdMenu.open()">
                                Relatórios
                            </button>
                            <md-menu-content>
                                <md-menu-item>
                                    <md-button ng-click="ctrl.sampleAction('share', $event)">
                                        Pesquisa de Livros
                                    </md-button>
                                </md-menu-item>


                            </md-menu-content>


                        </md-menu>



                    </md-menu-bar>

                </div>
            </div>
        </md-toolbar>
 



    </div>

</body>
</html>